
html,
body,
ul {
    margin: 0;
    padding: 0;
    font-size: 100%;
        box-sizing: border-box;
}
html{
        overflow-x: hidden;
}
body {

    background-color: #f0efec;
}
@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('../fonts/Montserrat-SemiBold.otf');
}
@font-face {
    font-family: 'Montserrat-Black';
    src: url('../fonts/Montserrat-Black.otf');
}
@font-face {
    font-family: 'Lato-Light';
    src: url('../fonts/Lato-Light.ttf');
}
@font-face {
    font-family: 'Lato-Black';
    src: url('../fonts/Lato-Black.ttf');
}
@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../fonts/Montserrat-Regular.otf');
}
@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../fonts/Montserrat-Bold.otf');
}
@font-face {
    font-family: 'Montserrat-Light_0';
    src: url('../fonts/Montserrat-Light_0.otf');
}
@font-face {
    font-family: 'PlayfairDisplay-Regular';
    src: url('../fonts/PlayfairDisplay-Regular.otf');
}
.loader {
  position: fixed;
    width: 100%;
    /* width: 200px; */
    margin: 0 auto;
    height: 100%;
    background: url(../images/source.gif) 22% 6% no-repeat #ffffff;
     opacity: 0.8; 
}
.container{
    visibility: hidden;
}
a {
    text-decoration: none;
    color: inherit;
}
li {
    list-style-type: none;
}
.slick-prev:before, .slick-next:before{
    color:red;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.freebies_img{
    width: 50%;
    float: left;
}
/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
   width: 97%;
   height: 80%;
/*   overflow: scroll;
*/   /* text-align: center;*/
    
}
.cmpny_details{
    width: 47%;
    float: left;}

/* The Close Button */
.close {
   color: #000;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: 2%;
    margin-top: 1%;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#fimage{
    width: 56%;
    /* margin: 0 auto; */
    margin-left: 21%;
    margin-top: 5%;
}
.freebies_image{
       width: 50%;
    float: left; 
        text-align: center;
}

/*.overlay_ul li{
    webkit-transform: scale(1.1) translateY(-24px);
    -ms-transform: scale(1.1) translateY(-24px);
    transform: scale(1.1) translateY(-24px);
    -webkit-transition: opacity 0.35s ease-out, -webkit-transform 0.35s ease-out;
    transition: opacity 0.35s ease-out, -webkit-transform 0.35s ease-out;
    transition: opacity 0.35s ease-out, transform 0.35s ease-out;
    transition: opacity 0.35s ease-out, transform 0.35s ease-out, -webkit-transform 0.35s ease-out;
    position: relative;
}
*/

.loading {
   position: fixed;
    left: 0;
    top: 0;
    width: 500px;
    height: 100px;
    z-index: 9999;
    background: url(images/source.gif) 50% 50% no-repeat #fff;
}
body{
    border:25px solid #ffffff;
}/* Icon 3 */
 #nav-icon3 {
  width: 36px;
 height: 30px;
  position: relative;
/*margin: 19px auto;*/
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

 #nav-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #4c4d4d;
  border-radius: 3px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
  top: 0px;
 
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top:9px;

}

#nav-icon3 span:nth-child(4) {
     top: 18px;


}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
.dtale_header {
   /* position: fixed;*/
    background-color: transparent;
    padding: 40px 50px 0px 50px;
    width: 100%;
    z-index: 9999;
    box-sizing: border-box;
}
.nav_icon1{
    color:#ffffff;
}
.hdr_bgnd{
     background-color: #000000;
     height: 108px;

}
.logo {
    float: left;
    width: 188px;
    height: 60px;
}
.dtale_header1{
    position: relative;
}
.freebies1{
    /*width: 21%;   
    margin-right: 2%;*/
    margin-bottom: 50px;
}
.freebies1 img{
width: 100%;
    height: 424px;

}

.navbar {
 /*  float: left;
    margin-right: 80px;
    margin-left: 43%;*/
    margin-right: 80px;
    margin-left: 67%;
}
.list1{
    color:#666666 !important;
}
.list1:hover{
    color:#ffffff !important;
}
.list1:active,a:active{
    color:#ffffff !important;
}
.active{
    color:#ffffff;
}
.cmpny_content-para1{
    font-size: 4.563rem;
    color: #ffffff;
    text-align: center;
    margin: 0;
}
.cmpny_content-para2{
    font-size: 11.938rem;
        color: #ffffff;
        text-align: center;
    margin: 0;
}
.cmpny_content-para3{
    font-size: 4.563rem;
        color: #ffffff;
        text-align: center;
    margin: 0;
}
.opencolor{
    background:  #ffffff !important;

}
.list {
    float: left;
    margin-left: 48px;
    margin-top: 16px;
    font-family: Montserrat-SemiBold;
    color: #4c4c4c;
    font-size: 0.75rem;
    letter-spacing: 1.2px;
}
.list:hover {
    color: #666666;
}
.list:active {
    color: #666666;
}
.nav_icon {
float: right;
    position: relative;
        right: 0px;
height: 100%;
    /* right: -50px; */
    /* margin-top: -40px; */
    /* width: 78px; */
    /* background: #ffffff; */
    z-index: 99999;
    /* border: 1px solid #000000; */
}
.linkedin1{
    color:#cccccc;
}
.ion-close {
    float: right;
    position: absolute;
    right: 50px;
  margin-top: 75px;
    font-size: 30px;
}
.nav_icon i {
    font-size: 30px;
}
.clearfix {
    clear: both;
}
.dtale_content {
    font-family: Lato-Light;
    position: relative;
    z-index:95;
    color: #4c4c4c;
    font-size: 6.3rem;
    padding: 50px;
      padding-top: 95px;
          padding-bottom: 0;

}
.text_bold {
    font-family: Lato-Black;
}
.para1,
.para2,
.para3 {
    margin: 0;
}
.header1{
    background-image: url('../images/bgnd.png');
    background-repeat: no-repeat;
    background-size: 100% ;
    /*background-position: 50% 50%;*/
    height: 100vh;
}
/*.scroll {
   background-image: url(../images/scroll.png);
    background-size: 2% 51%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    /* height: 100%; 
    margin-top: 34px;
    height: 69px;
}*/
.scroll_txt {
    text-align: center;
      font-size: 0.6rem;
    font-family: Montserrat-Regular;
    margin-top: 0;
    letter-spacing: 1px;
    color: #c8c7c5;
}
.dtale_recent_work {
    padding: 50px;
    padding-top: 0;
}
.para_common {
    text-align: center;
    color: #9e9d9c;
    font-size: 0.9rem;
    font-family: Montserrat-Bold;
    padding-top: 150px;
        padding-bottom: 50px;
        letter-spacing: 2.2px;
       /* margin-right: 50px;*/
}
.modalOverlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.3); /* black semi-transparent */
}
/*scroll css*/
.scroll-downs {
 /* position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;*/
  margin: auto;
      margin-top: 8%;

  width :34px;
  height: 55px;
}
.mousey {
     width: 3px;
    padding: 10px 12px;
    height: 21px;
    border: 2px solid #9f9e9d;
    border-radius: 25px;
    opacity: 0.75;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #9f9e9d;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;

}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}
.dtale_recent_work {
    color: #4c4c4c;
}
/*.work1 {
    padding-top: 100px;
}*/
.team_header{
    text-align: center;
}
.team-member-name{
    margin-top: -20%;
    color: #4f5362;
      font-family: Montserrat-Light_0;
}
.designation{
color:#a8acb9;
 font-family: Montserrat-Light_0;
}
.work1_div1 {
    background-image: url('../images/dtale_img1.png');
    background-repeat: no-repeat;
    background-size: contain;
    /*height: 500px;*/
        height: 85vh;
    background-position: 70% 50%;
    width: 50%;
    float: left;
}
.work1_div2 {
    float: left;
    width: 50%;
}
.image {
    margin-top: 80px;
    margin-left: -16px;
}
.para1_common {
    width: 50%;
    margin-top: 6px;
    font-family: Montserrat-Bold;
    font-size: 2.125rem;
       

}
.para2_common {
    width: 50%;
    margin-top: 30px;
    font-family: Montserrat-Regular;
    font-size: 0.813rem;
     line-height: 20px;
}
.work2 {
    padding-top: 100px;
}
.work2_div2 {
    background-image: url('../images/dtale_img2.png');
    background-repeat: no-repeat;
   /* background-size: contain;
    height: 500px;
    background-position: 70% 50%;
    width: 50%;*/
    float: left;
    background-size: contain;
    height: 85vh;
    /* background-position: 69% -19%; */
    width: 65%;
}
.work2_div1 {
    width: 35%;
    float: left;
}
.para1_common1 {
    width: 100%;
    margin-top: 6px;
    font-family: Montserrat-Bold;
    font-size: 2.125rem;
    text-align: right;
}
.para2_common1 {
    width: 50%;
    margin-top: 30px;
    font-family: Montserrat-Regular;
    font-size: 0.813rem;
    text-align: right;
    margin-left: 30%;
        line-height: 20px;
}
.image1 {
    margin-top: 80px;
    margin-left: 60%;
}
.work3_div1 {
    background-image: url('../images/dtale_img3.png');
    background-repeat: no-repeat;
    background-size: contain;
    /*height: 500px;*/
        height: 85vh;
    background-position: 70% 50%;
    width: 50%;
    float: left;
}
.work3 {
    padding-top: 100px;
}
.work3_div2 {
    width: 50%;
    float: left;
}
.work4 {
    padding-top: 100px;
}
.work4_div2 {
    width: 50%;
    float: left;
}
.work4_div2 {
    background-image: url('../images/dtale_img4.png');
    background-repeat: no-repeat;
    /*background-size: contain;
    height: 500px;
    background-position: 70% 50%;
    width: 50%;*/
    float: left;
    background-size: contain;
    height: 85vh;
    /* background-position: 69% -19%; */
    width: 65%;
}
.work4_div1 {
    width: 35%;
    float: left;
}
.vr {
        background-image: url(../images/vr.png);
    background-repeat: no-repeat;
    background-size: 87%;
    height: 75vh;
    background-position: 50% 44%;
    width: 50%;
    float: left;
}
.iot {
       background-image: url(../images/iot.png);
    background-repeat: no-repeat;
    /*background-size: 60%;
    height: 500px;*/
    background-position: 50% 50%;
    width: 50%;
    float: left;
    background-size: 55%;
    height: 72vh;
}
.para1_common1 {
    text-align: center;
    color: #4c4c4c;
    font-size: 2.125rem;
    font-family: Montserrat-Bold;
    position: relative;
    top: 80%;
    float: left;
}
.para_common1 {
    text-align: center;
    color: #9e9d9c;
    font-size: 0.9rem;
    font-family: Montserrat-Bold;
       padding-top: 50px;
    padding-bottom: 25px;
    /* margin-right: 50px; */
}
.future{
    padding-bottom: 150px;
}
.writing {
    padding: 50px;
    padding-top: 75px;
    padding-bottom: 0;
}
.writing_para1 {
    font-size: 4.250rem;
    font-family: Lato-Light;
    color: #4c4c4c;
}
.writing_para2 {
    font-size: 1.375rem;
    font-family: Montserrat-Light_0;
    color: #4c4c4c;
        line-height: 32px;
}
.contact {
/*    padding-top: 100px;*/
    padding-left:200px;
    padding-right: 178px;
    padding-bottom: 100px;
}
input:focus{
    color:#666666;
}
.contact input {
    border: none;
    background-color: #ffffff;
    border-radius: 10px;
    height: 50px;
    text-indent: 20px;
    width: 90%;
    color: #999999;
    font-family: Montserrat-Light_0;
    font-size: 1rem;
    margin-bottom: 45px;
}
.contact select {
    border: none;
    background-color: #ffffff;
    border-radius: 10px;
    height: 50px;
   /* text-indent: 30px;*/
    width: 80%;
    color: #999999;
    font-family: Montserrat-Light_0;
    font-size: 1rem;
    margin-bottom: 45px;
}
.name,
.email,
.common_div,
.mobile,
.budget,
.service {
    width: 50%;
    float: left;
}
.freebies_container{
    /*padding-top: 12%;*/
}
.cmpny_details {
/*    padding-top: 100px;*/
    padding-left: 142px;
    padding-right: 142px;
   
    box-sizing: border-box;
}
.cmpny_details input {
    border: none;
    background-color: #eff0f4;
    border-radius: 10px;
    height: 50px;
    text-indent: 20px;
    width: 100%;
    color: #999999;
    font-family: Montserrat-Light_0;
    font-size: 1rem;
        margin-bottom: 15px;
}
.cmpny_details select {
    border: none;
    background-color: #eff0f4;
    border-radius: 10px;
    height: 50px;
   /* text-indent: 30px;*/
    width: 100%;
    color: #999999;
    font-family: Montserrat-Light_0;
    font-size: 1rem;
    margin-bottom: 45px;
}
.contact textarea {
 border: none;
    background-color: #ffffff;
    border-radius: 10px;
    height: 100px;
    /* text-indent: 20px; */
    width: 95%;
    padding-left: 20px;
    margin-bottom: 45px;
    color: #999999;
    font-family: Montserrat-Light_0;
    font-size: 1rem;
    padding-top: 20px;
    box-sizing: border-box;
}
.contact_title {
    font-size: 1rem;
    color: #666666;
    font-family: Montserrat-Light_0;
}
.send_button {
        width: 100px;
    padding-left: 128px;
    padding-right: 128px;
    margin: 0 auto;
    text-align: center;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #4c4c4c;
    border: none;
    font-size: 1rem;
    color: #ffffff;
    font-family: Montserrat-Light_0;
    border-radius: 30px;
}
.send_button:before{
    content:"SEND";
}
.send_button1 {
        width: 50px;
    height: 50px;
    background: url( http://www.hsi.com.hk/HSI-Net/pages/images/en/share/ajax-loader.gif);
    background-repeat: no-repeat;
    background-size: 33%;
    background-position: 50%;
    border: none;
    font-size: 1rem;
    color: #ffffff;
    font-family: Montserrat-Light_0;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    margin: 0 auto;
    padding: 20px;
}
/*.send_button1:before{
    content:"gif";
}*/
.button1{
     background-color: #4c4c4c;
}
.send_button2 {
        width: 100px;
    padding-left: 128px;
    padding-right: 128px;
    margin: 0 auto;
    text-align: center;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #4c4c4c;
    border: none;
    font-size: 1rem;
    color: #ffffff;
    font-family: Montserrat-Light_0;
    border-radius: 30px;
}
.send_button2:before{
    content:"SUCCESS";
}
.button1{
    -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}



.download{
     width: 218px;
    margin: 0 auto;
    text-align: center;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #e21e1e;
    border: none;
    font-size: 1rem;
    color: #ffffff;
    font-family: Montserrat-Light_0;
    border-radius: 30px;
}
.footer {
    background-color: #1a1a1a;
    color: #ffffff;
}
.footer div {
    text-align: center;
    font-size: 0.813rem;
    font-family: Montserrat-Regular;
    padding-bottom: 50px;
}
.footer_nav1 {
    font-family: Montserrat-SemiBold;
    font-size: 0.75rem;
    float: right;
}
.footer_list1 {
    float: left;
    margin-left: 48px;
}
.footer_div1 {
    float: left;
    width: 50%;
    padding-top: 80px;
    padding-bottom: 80px;
}
.footer_nav2 {
    float: left;
    width: 50%;
    padding-top: 67px;
    padding-bottom: 67px;
}
.footer_nav2 i {
    float: left;
    margin-left: 25px;
    font-size: 21px;
    width: 42px;
    /* height: 32px; */
    
    background-color: #313131;
    border-radius: 50%;
    text-align: center;
    padding-top: 10px;
    /* padding: 10px; */
    
    padding-bottom: 10px;
    /* padding-left: 10px; */
    /* padding-right: 10px; */
}
.ion-social-instagram-outline {
    width: 45px !important;
}
.l1 {
    margin-left: 80px;
}
.hover_effect:hover {
    background-color: #ffffff !important;
    color: #313131 !important;
}
.overlay_menu {
    display: none;
    width: 100%;

}
.overlay_list {
    width: 100%;
   /* text-align: center;*/
    font-family: Montserrat-Black;
    font-size: 2.500rem;
  
}
.download_pdf {
   
    text-align: center;
    font-family: Montserrat-Black;
    font-size: 3.25rem;
}

#menu_list {
    height: 100%;
    /* width: 0%; */
    
    color: #ffffff;
    position: fixed;
    z-index: 1;
    text-align: center;
    top: 0;
    right: 0;
   
    background-color: rgba(11, 46, 72, 0.95);
 
    
    z-index: 1000;
}
.social-media-icons {
    font-size: 30px;
    position: relative;
    top: 12%;
}
.social-media-icons a {
    margin-right: 38px;
}
.overlay_ul {
    margin-top: 24vh;

}
.overlay_list {
    margin-bottom: 30px;

}

select{
    width:80px;
    overflow:hidden;
   
   
}

 select{
    width:100px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 2px 2px 2px 20px;
    border: none;
         background: transparent url('../images/Arrow.png') no-repeat right center;
    background-position: 90%;
   
}
textarea {
    resize: none;
}
textarea:focus, input:focus,select:focus,button:focus{
    outline: none;
}
.logo img{
    width: 100%;
}
.about-team {
    /* height: 350px; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-around;
    -ms-flex-pack: space-around;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    /* border: solid red; */
    height: 100%;
   /* margin-bottom: 80px;*/
    padding: 0 40px 0 40px;
}
.services,.testimonials,.freebieslist{
    /* height: 350px; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-around;
    -ms-flex-pack: space-around;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    /* border: solid red; */
    height: 100%;
   /* margin-bottom: 80px;*/
    padding: 0 40px 0 40px;
    text-align: center;
}
.team_header{
    font-size: 3rem;
     font-family: Montserrat-Bold;
         margin-top: 0;
}
.services1,.testimonial1{
    width: 33.3%;
}
.line1,.line2{
     color: #4c4c4c;
    font-size: 1.125rem;
    font-family: Montserrat-Bold;
        margin: 0;
}
.services-para p{
    color:#666666;
    font-size: 1rem !important;
     font-family: Montserrat-Regular;
     margin: 2px;
     line-height: 21px;
    

}
.testimonial-name{
    color:#4f5362;
     font-family: Montserrat-Light_0;
     font-size: 1rem;
}
.testimonial-dsgn{
    color:#a8acb9;
     font-family: Montserrat-Light_0;
     font-size:0.769em;
}
.review p{
    color:#4c4c4c;
    font-size:1rem;
    font-family: PlayfairDisplay-Regular;
   /* line-height: 9px;*/
text-align: center;
margin-right: 20px;
margin-left: 20px;
}
.heading{
    margin-top: 28px;
    margin-bottom: 28px;
}
.team-member-image img{
    width: 100%;
}
.team-member{
    width: 25%;
    text-align: center;
}
.tb1 {
   
 
    color: #666666 !important;
   
 
}
.slick-initialized .slick-slide {
    display: block;
    outline: none;
}
.aboutus{
        overflow-x: hidden;
}
.aboutus .footer{
    margin-top: 100px;
}
.active {
    color:#ffffff;
   
}
.homepage .homelink{
  color:#ffffff !important;
}
.aboutus .about{
  color:#ffffff !important;
}
/*.nav_icon {
  
    margin-top: 10px;
   }*/
/*===========new menu============*/





.button_container {
  position: relative;
      margin-top: 12px;
  width: 35px;
  cursor: pointer;
  z-index: 10000;
  -webkit-transition: opacity .25s ease;
  transition: opacity .25s ease;
}

.button_container.active .top {
  -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
          transform: translateY(11px) translateX(0) rotate(45deg);
  background: #FFF;
}
.button_container.active .middle {
  opacity: 0;
  background: #FFF;
}
.button_container.active .bottom {
  -webkit-transform: translateY(-7px) translateX(0) rotate(-45deg);
      transform: translateY(-7px) translateX(0) rotate(-45deg);
  background: #FFF;
}
.button_container span {
  background: #4c4d4d;
  border: none;
  height: 3px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
  cursor: pointer;
}
.button_container span:nth-of-type(2) {
  top: 9px;
}
.button_container span:nth-of-type(3) {
  top: 18px;
}


   ..overlay_list li{
    position: relative;
   }
   .overlay_menu .menu-opened{
            opacity: 1;
    -webkit-transition: opacity 800ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -moz-transition: opacity 800ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -o-transition: opacity 800ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
    transition: opacity 800ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -webkit-transition-delay: 0ms;
    -moz-transition-delay: 0ms;
    -o-transition-delay: 0ms;
    transition-delay: 0ms;
    }
    .menu-opened li{
  
    opacity: 1;
    -webkit-transition: opacity 1000ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -moz-transition: opacity 1000ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -o-transition: opacity 1000ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
    transition: opacity 1000ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
    .menu-opened li:nth-child(1){
    -webkit-transition-delay: 0ms;
    -moz-transition-delay: 0ms;
    -o-transition-delay: 0ms;
    transition-delay: 0ms;
    }
      .menu-opened li:nth-child(2){
    -webkit-transition-delay: 100ms;
    -moz-transition-delay: 100ms;
    -o-transition-delay: 100ms;
    transition-delay: 100ms;
    }
    .menu-opened li:nth-child(3){
    -webkit-transition-delay: 200ms;
    -moz-transition-delay: 200ms;
    -o-transition-delay: 200ms;
    transition-delay: 200ms;
    }
    .categories li:nth-child(1) {
    -webkit-transition-delay: 480ms;
    -moz-transition-delay: 480ms;
    -o-transition-delay: 480ms;
    transition-delay: 480ms;
}
 .categories li:nth-child(2) {
    -webkit-transition-delay: 400ms;
    -moz-transition-delay: 400ms;
    -o-transition-delay: 400ms;
    transition-delay: 400ms;
}
 .categories li:nth-child(3) {
    -webkit-transition-delay: 320ms;
    -moz-transition-delay: 320ms;
    -o-transition-delay: 320ms;
    transition-delay: 320ms;
}

@media (min-width: 310px) and (max-width: 424px){
    body{
        border:12px solid #ffffff;
    }
    .dtale_recent_work {
    padding: 20px;
    padding-top: 0;
}
    .contact_title {
    font-size: 0.9rem;
    color: #666666;
    font-family: Montserrat-Light_0;
    margin-top: 0;
    margin-bottom: 10px;
    /* margin: 5px; */
}
.work1,.work3 {
    padding-top: 50px;
}
.work2_div2 {
    background-position: 50% 2%;}
    .dtale_recent_work .image{
   
    margin-left: 22% !important;
}
 .dtale_recent_work .image1 {
   
    margin-left: 14% !important;
}
    .name, .email, .common_div, .mobile, .budget, .service {
    width: 100%;
    /* float: left; */
}
    .contact {
    /* padding-top: 100px; */
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.contact input,.email input,.contact select {
    border: none;
    background-color: #ffffff;
    border-radius: 10px;
    height: 40px;
  /*  text-indent: 20px;
   */ width: 100%; 
   width: 100%;
    height: 40px;
     margin-bottom: 20px;
    font-size: 0.8rem;
    }
 .send_button {
  
    padding-left: 20px;
    padding-right: 20px;
   
    padding-top: 10px;
    padding-bottom: 10px;
   
}
       
 
    .contact textarea{
        width: 100%;
        font-size: 0.8rem;
    }
    .work1_div1,.work2_div2,.work3_div1 {
   
    background-position: 50% 50%;
    width: 100%;
    height: 300px;
}
.para2_common {
    width: 100%;
    margin-top: 0;}
    .para1_common {
    width: 100%;
    font-size: 1.125rem;}
    .work1_div2 {
   
    width: 100%;
}
.dtale_recent_work .image,.dtale_recent_work .image1{
    margin-top: 0px;
       margin-left: 0px;
    width: 37px;
    float: left;
}
.future .para1_common1{
    text-align: center;
}
    .testimonials{
    padding:0 24px 0 24px;
    }
    .footer_list1 {
   
    margin-left: 36px;
}
.cmpny_details {
    width: 100%;}
.freebies_image {
    display: none;
}
.dtale_content {
  padding: 24px;
    padding-top: 29px;
       font-size: 2.5rem;
}
.nav_icon {
    margin-top: 4px !important;
}
.dtale_header {
    
       padding: 17px 20px 0px 20px;
    
}
.team_header {
      font-size: 1.4rem;
    
}   
.work2_div1 .para1_common1 {
        top: auto; 
        float: none;
   
}
.work4_div1 {
    width: 100%;
    float: left;
     margin-top: 65%;
}
.team-member-name {
   
    font-size: 0.8rem;
}
.work4_div2 {
    width: 100%;
     float: none;
         height: 200px; 
}
.designation {
   
    font-size: 0.75rem;
}
.linkedin1 {
   
    margin-top: 10px;
}
.work4 .para1_common1 {
     width: 63%;}

    .work4 .para2_common1 {
    width: 100%;
    margin-top: 0;
}
.services_image{
    float: left;
        margin-right: 20px;
}
.work4{
    padding-top: 50px;
}
.services{
    padding: 0 10px 0 10px;
}
.heading {
    display: inline;
    /* border: dashed; */
    width: auto;
    position: relative;
    /* margin-left: 10px; */
   
    height: auto;
    margin: 0;
    padding: 0;
   /* margin-left: 90px;*/
}   

.review p {
   
    font-size: 0.8rem;}
.about-team,.freebieslist{
        padding: 0 20px 0 20px;
}
.services-para{
margin-left: 100px;
}
.services-para p {
   display: inline;
    font-size: 0.7rem !important;
  
    margin: 0;
    line-height: 18px;
}
.heading h2 {
    width: auto;
    /* border: solid; */
    font-size: 11px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    letter-spacing: 0;
    display: inline;
    /* margin-top: -100px !important; */
}
.services_image img {
    /* border: solid; */
    width: 80px;
    height: 60px;
}
.para_common {
   font-size: 0.8rem;
       padding-top: 60px;
    padding-bottom: 20px;
}
.navbar {
  display: none;
}
.logo img {
    width: 60%;
}
.team-member {

    text-align: center;
    width: 50%;
}
.services1 {
    width:100%;
    margin-bottom: 20px;
    text-align: left;
}
#fimage {
    width: 66%;
    /* margin: 0 auto; */
    margin-left: 6%;
    margin-top: 26%;
}
.cmpny_details {
    /* padding-top: 100px; */
    padding-left: 29px;
    padding-right: 31px;
    box-sizing: border-box;
}
.download_pdf {
   
    font-size: 2rem;
}
.freebies1 img {
    width: 100px;
    height: 159px;
}

.freebies_img {
     width: auto; 
    float: left;
}
.header1 {
    background-size: cover;
    background-position: 50% 0%;
    height: 499px;
}
.footer_nav1,.footer_nav2{
   float: none;
}
.footer_div1 {
    float: none;
    padding-top: 30px;
    width: 320px;
    margin: 0 auto;
    font-size: 0.75rem;
}
 .footer_nav2 {
    float: none;
   
padding-top: 0px;
       width: 262px;
    margin: 0 auto;
}
.footer_list1 {
    float: left;
    margin-left: 32px;
}
.l1 {
    margin-left: 0px;
}
.writing {
    padding: 22px;
       padding-top: 50px;
    padding-bottom: 0;
}
.writing_para1 {
    font-size: 2.250rem;
   }
   .writing_para2 {
    font-size: 1rem;
        line-height: 24px;
}
.vr {
   
    height: 185px;
    background-position: 50% 50%;
     width: 100%; 
     float: none; 
}
.iot {
  
    width: 100%;
   float: none; 
   
    height: 186px;
    margin-top: 25px;
}
.para1_common1 {
    text-align: left;
    font-size: 1.125rem;
   
}
.future {
     padding-bottom: 0px; 
}
.footer_nav2 i {
    
  
    font-size: 14px;
    width: 34px;
    height: 14px;}
    .ion-social-instagram-outline {
    width: 35px !important;
}.work2_div1 {
    width: 100%;
    float: left;
    display: block;
         margin-top: 95%;}
.work2_div2 {
    background-position: 50% 50%;
    width: 100%;
  height: 269px;
    display: block;
    float: none;
}
.work2 {
    padding-top: 50px;
}
.para2_common1 {
    width: 100%;
    margin-top: 0px;
   
    text-align: left;
    margin-left: 0%;
    line-height: 20px;
}
.work3_div2 {
    width: 100%;
   
}
.slick-dots li {
    
    margin: 0 3px !important;
}
.copyright{
    font-size: 0.7rem !important;

}
.modal-content {
   
    width: 97%;
    height: 97%;
    margin-top: 1.5%;
  
}
.modal {
    padding-top: 0;
}
}
@media (min-width: 425px) and (max-width: 767px){
    .services_image img {
    /* border: solid; */
    width: 80px;
    height: 60px;
}
.name, .email, .common_div, .mobile, .budget, .service {
    width: 100%;
    float: left;
}
.contact {
    /* padding-top: 100px; */
    padding-left: 20px;
    padding-right: 0px;
    padding-bottom: 100px;
}
.contact select ,.contact textarea{
  
    width: 90%;
   }

.services1 {
    width:100%;
    margin-bottom: 20px;
    text-align: left;
}
.modal-content {
  
    height: 97%;
    margin-top: 1.5%;
    
}
.modal {
    padding-top: 0;
}
.services-para{
margin-left: 100px;
}
.send_button {
    width: 43px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
    text-align: center;
    display: block;
    padding-top: 15px;
   }
   .writing_para1 {
    font-size: 2.25rem;
  
}
.writing_para2 {
    font-size: 1rem;
  
    color: #4c4c4c;
    line-height: 22px;
}
   .button{
        margin-right: 20px;
   }
   .writing {
    padding: 35px;
    padding-top: 16px;
    padding-bottom: 0;
}
.services-para p {
   display: inline;
    font-size: 0.7rem !important;
  
    margin: 0;
    line-height: 18px;
}
.services_image {
    float: left;
    margin-right: 20px;
}
.heading h2 {
    width: auto;
    /* border: solid; */
    font-size: 11px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    letter-spacing: 0;
    display: inline;
    /* margin-top: -100px !important; */
}
.services_image img {
    /* border: solid; */
    width: 80px;
    height: 60px;
}
    .footer_list1 {
   
    margin-left: 36px;
}
.heading {
    display: inline;
    /* border: dashed; */
    width: auto;
    position: relative;
    /* margin-left: 10px; */
    height: auto;
    margin: 0;
    padding: 0;
    /* margin-left: 90px; */
}
.cmpny_details {
    width: 100%;}
.freebies_image {
    display: none;
}
.dtale_content {
  
    font-size: 3.5rem;
}
.nav_icon {
    margin-top: 6px;
}
.dtale_header {
    
    padding: 40px 30px 0px 30px;
    
}
.team_header {
    font-size: 2rem;
    
}   
.para_common {
   
    padding-top: 75px;
    padding-bottom: 25px;
   
}
.navbar {
  display: none;
}
.logo img {
    width: 60%;
}
.team-member {
    width: 25%;
    text-align: center;
    width: 50%;
}
.services1 {
    width:100%;
    margin-bottom: 20px;
}
#fimage {
    width: 66%;
    /* margin: 0 auto; */
    margin-left: 6%;
    margin-top: 26%;
}
.cmpny_details {
    /* padding-top: 100px; */
    padding-left: 29px;
    padding-right: 31px;
    box-sizing: border-box;
}
.download_pdf {
   
    font-size: 2.25rem;
}
.freebies1 img {
     width: auto; 
    height: 308px;
}

.freebies_img {
     width: auto; 
    float: left;
}
.header1 {
    background-size: cover;
    background-position: 50% 0%;
    height: 499px;
}
.footer_nav1,.footer_nav2{
   float: none;
}
.footer_div1 {
    float: none;
    padding-top: 30px;
    width: 320px;
    margin: 0 auto;
}
 .footer_nav2 {
    float: none;
   
    padding-top: 30px;
    width: 365px;
    margin: 0 auto;
}
.footer_list1 {
    float: left;
    margin-left: 48px;
}
.l1 {
    margin-left: 40px;
}


}
@media (min-width: 425px) and (max-width: 599px){
.para2_common {
    width: 100%;
    margin-top: 0;}
    .para1_common {
    width: 100%;
    font-size: 1.125rem;}
    .work1_div2 {
   
    width: 100%;
}
.work2 {
    padding-top: 50px;
}
.work1_div1, .work2_div2, .work3_div1 {
    background-position: 50% 50%;
    width: 100%;
    height: 300px;
}
.dtale_recent_work .image, .dtale_recent_work .image1 {
    margin-top: 0px;
    margin-left: 0px;
    width: 37px;
    float: left;
}
.work2_div1 {
    width: 100%;
    float: left;
    display: block;
    margin-top: 95%;
}
.work2_div1 .para1_common1 {
    top: auto;
    float: none;
}
.para1_common1 {
    text-align: left;
    font-size: 1.125rem;
}
.para2_common1 {
    width: 100%;
    margin-top: 0px;
    text-align: left;
    margin-left: 0%;
    line-height: 20px;
}
.work2_div2 {
    background-position: 50% 50%;
    width: 100%;
    height: 300px;
    display: block;
    float: none;
}
.work3_div2 {
    width: 100%;
}
.work4_div1 {
    width: 100%;
    float: left;
    margin-top: 60%;
}
.work4 .para1_common1 {
    width: 78%;
        float: none;
}
.work4 .para2_common1 {
    width: 100%;
    margin-top: 0;
}
.work4_div2 {
    width: 100%;
    float: none;
    height: 200px;
}
.vr {
    height:328px;
    background-position: 50% 50%;
    width: 100%;
    float: none;
}
.future .para1_common1 {
    text-align: center;
    font-size: 1.125rem;
}
.iot {
    width: 100%;
    float: none;
    height: 328px;
    margin-top: 25px;
}
.future {
     padding-bottom: 0px; 
}
}
@media (min-width: 600px) and (max-width: 767px){
    .image {
    width: 73px;
    margin-top: 63px;
    margin-left: -16px;
}
.para1_common {
    width: 100%;
    margin-top: 6px;
    margin-bottom: 10px;
  
    font-size: 1.5rem;
}
.para2_common {
    width: 100%;
    margin-top: 10px;
   
    font-size: 0.713rem;
    line-height: 15px;
}
.para2_common1 {
    width: 100%;
    margin-top: 15px;
   
    font-size: 0.813rem;
  
    margin-left: 0%;
    line-height: 20px;
}
.work2_div2 {
   
    background-position: 73% 44%;
    width: 65%;
}
.image1 {
    width: 73px;
    margin-top: 50px;
    margin-left: 60%;
}
.work2,.work3,.work4 {
     padding-top: 0px; 
}
.para1_common1 {
   
    font-size: 1.5rem;
  
    margin-left: -22px;
}
.work4_div1 .image1{
    margin-top: 0;
}
.work4_div2 {
       height: 54vh;
    background-position: 57% 28%;
   
}
}
@media (min-width: 768px){
    .hide1{
        display: none;
    }
    .article_name{
        display: none;

    }
    .overlay {
  position: fixed;
 background-color: rgba(11, 46, 72, 0.95);
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
z-index: 9999;
  
  overflow: hidden;
}
.overlay.open {
  opacity: 1;
    -webkit-transition: opacity 800ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -moz-transition: opacity 800ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -o-transition: opacity 800ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
    transition: opacity 800ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -webkit-transition-delay: 0ms;
    -moz-transition-delay: 0ms;
    -o-transition-delay: 0ms;
    transition-delay: 0ms;
  height: 100%;
 
}
.overlay.close {
  opacity: 0;
    -webkit-transition: opacity 800ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -moz-transition: opacity 800ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -o-transition: opacity 800ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
    transition: opacity 800ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  
  height: 100%;
}
.overlay.open li:nth-of-type(1){
 
  -webkit-transition-delay: 0ms;
    -moz-transition-delay: 0ms;
    -o-transition-delay: 0ms;
    transition-delay: 0ms  ;
 
     
}
.overlay.open li:nth-of-type(2) {
  -webkit-transition-delay: 100ms;
    -moz-transition-delay: 100ms;
    -o-transition-delay: 100ms;
    transition-delay: 100ms ;
  

  
}
.overlay.open li:nth-of-type(3) {
  -webkit-transition-delay: 200ms;
    -moz-transition-delay: 200ms;
    -o-transition-delay: 200ms;
    transition-delay: 200ms  ;
   
 
}
.overlay.open li:nth-of-type(4) {
  -webkit-transition-delay: 300ms;
    -moz-transition-delay: 300ms;
    -o-transition-delay: 300ms;
    transition-delay: 300ms  ;
    
 
  
 
}
 .overlay.close li:nth-of-type(4){
 
  -webkit-transition-delay: 0ms;
    -moz-transition-delay: 0ms;
    -o-transition-delay: 0ms;
    transition-delay: 0ms;
 
     
}
.overlay.close li:nth-of-type(3) {
  -webkit-transition-delay: 100ms;
    -moz-transition-delay: 100ms;
    -o-transition-delay: 100ms;
    transition-delay: 100ms;
  

  
}
.overlay.close li:nth-of-type(2) {
  -webkit-transition-delay: 200ms;
    -moz-transition-delay: 200ms;
    -o-transition-delay: 200ms;
    transition-delay: 200ms;
   
 
}
.overlay .close li:nth-child(1) {
    -webkit-transition-delay: 300ms;
    -moz-transition-delay: 300ms;
    -o-transition-delay: 300ms;
    transition-delay: 300ms;
} 
.overlay nav {
  position: relative;
  height: 70%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  
  
  text-align: center;
}
.overlay ul {
        top: 22vh;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;

  width: 100%;
  text-align: center;
}
.overlay ul li {
     opacity: 0;
    -webkit-transition: 500ms cubic-bezier(0.455, 0.03, 0, 1);
    -moz-transition: 500ms cubic-bezier(0.455, 0.03, 0, 1);
    -o-transition: 500ms cubic-bezier(0.455, 0.03, 0, 1);
    transition:  500ms cubic-bezier(0.455, 0.03, 0, 1);
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition-delay: 0ms;
    -moz-transition-delay: 0ms;
    -o-transition-delay: 0ms;
    transition-delay: 0ms;
    margin: 0 0 0.1em 0;
    padding: 0;
    list-style: none;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
  margin-bottom:50px;
}
.overlay.open  ul li{
   opacity: 1;
    -webkit-transition: opacity 1000ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -moz-transition: opacity 1000ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -o-transition: opacity 1000ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
    transition: opacity 1000ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.overlay ul li a {
  display: block;
  position: relative;
  color: #FFF;
  text-decoration: none;
  overflow: hidden;
}
/*.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
  width: 100%;
}
.overlay ul li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 3px;
  background: #FFF;
  -webkit-transition: .35s;
  transition: .35s;
}
*/
.overlay_menu{
/*opacity: 0;
*/    -webkit-transition: opacity 800ms cubic-bezier(0.39, 0.575, 0.565, 1);
    -moz-transition: opacity 800ms cubic-bezier(0.39, 0.575, 0.565, 1);
    -o-transition: opacity 800ms cubic-bezier(0.39, 0.575, 0.565, 1);
    transition: opacity 800ms cubic-bezier(0.39, 0.575, 0.565, 1);
    -webkit-transition-delay: 200ms;
    -moz-transition-delay: 200ms;
    -o-transition-delay: 200ms;
    transition-delay: 200ms;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
   /* top: 50%;
    left: 50%;
    margin: -220px 0 0 -200px;*/
    padding: 0;
  height: 100%;
  width: 100%;
   }
}

@media (max-width: 767px) {
  
   .header {
    position: fixed;
  }
}

/*===========menu for smaller screen*/
@media (max-width:767px){
    .overlay-menu{
        display: none;
    }
}
@media (min-width: 768px) and (max-width: 1023px){

.dtale_content {
  
    font-size: 4.3rem;
}
.header1 {
   
     background-size: cover; 
    background-position: 50% 5%;
    height: 853px;
}
.navbar {
    margin-right: 80px;
    margin-left: 34%;
}
.logo img {
    width: 70%;
}
.team-member {
    width: 25%;
    text-align: center;
    
}
.services1 {
   /* width:50%;*/
    margin-bottom: 20px;
}
#fimage {
    width: 66%;
    /* margin: 0 auto; */
    margin-left: 6%;
    margin-top: 26%;
}
.cmpny_details {
    /* padding-top: 100px; */
    padding-left: 29px;
    padding-right: 31px;
    box-sizing: border-box;
}
.download_pdf {
   
    font-size: 2.25rem;
}
.para_common {
    
    padding-top: 90px;
    padding-bottom: 30px;}
.freebies1 img {
     width: auto; 
    height: 308px;
}
.line1, .line2 {
    color: #4c4c4c;
    font-size: 1rem;
    font-family: Montserrat-Bold;
    margin: 0;}

.team_header {
    font-size: 2rem;
  
}
.services-para p {
   
    font-size: 0.8rem !important;
   
    line-height: 16px;
}
.freebies_img {
     width: auto; 
    float: left;
}
.para2_common,.para1_common{
    width: 100%;
   
}
.para1_common1 {
   
    font-size: 1.75rem;
  
}
.para2_common1 {
    width: 100%;
    margin-top: 20px;

    padding-left: 7%;
  margin-left: 0;
    box-sizing: border-box;
}
.image1 {
    margin-top: 0px;
   
}
.contact {
    /* padding-top: 100px; */
    padding-left: 50px;
    padding-right: 21px;
    padding-bottom: 100px;
}

}

@media screen and (min-width:1024px) and (max-width: 1361px){
    .navbar {
    margin-right: 80px;
    margin-left: 50%;
}
.freebies1 img {
  width: auto;
}
.dtale_content {
  
    font-size: 5.3rem;
}
.logo img {
    width: 65%;
}
.image,.image1 {
   
    width: 80px;
}
   .para2_common1 {
       width: 93%;
    text-align: right;
    margin-right: 7%;
    margin-left: 0;
   
}
.image1 {
       margin-top: 50px;
    
    margin-left: 71%;
}
.contact {
 
    padding-left: 125px;
    padding-right: 111px;
   
}
.para2_common {
    width: 69%;}
   .work4_div2 {
   
    height: 64vh;
    }
    .cmpny_details {
  padding-left: 106px;
    padding-right: 106px;
   
}
.cmpny_details .cmpny_details input {
   
    width: 100%;
  
}
.download_pdf {
   
    font-size: 2.25rem;
}
.writing_para1 {
    font-size: 3.25rem;}
    #fimage {
 
    margin-left: 21%;
    margin-top: 34%;
}
}
    @media screen and (min-width:1024px) and (max-width: 1279px){
.header1 {
   
    height: 618px;
}


    }
@media screen and (min-width:1280px) and (max-width: 1361px){
.navbar {
    margin-right: 80px;
    margin-left: 62%;
}
.dtale_content {
   
    font-size: 5.3rem;
}
.scroll-downs {
   
    margin-top: 3%;
}
.download_pdf {
  
    font-size: 2.25rem;
}
.freebies1 {
    margin-bottom: 50px;
    width: 26%;
}
}
@media (min-width: 1366px) and (max-width: 1439px){
    .header1 {
   
    height: 638px;
}
.list {
    float: left;
    margin-left: 40px;}
}
@media (min-width: 1400px) and (max-width: 1599px){
    .header1 {
   
    height:700px;
}
#nav-icon3{
        margin-top: 10px;
}
.freebies1 img {
    width: 100%;
    height: 543px;
}
}
@media screen and (min-width: 1600px) and (max-width:1919px){

.freebies1 img {
   height: auto;
   
}   

.header1 {
  
    height: 770px;
}

}

@media screen and (min-width:1920px) and (max-width: 2559px){
.dtale_content {
   
    font-size: 8.3rem;
}

}









 

@media screen and (min-width: 1366px) and (max-width: 1439px){
.navbar {
   
    margin-left: 66%;
}
.dtale_content {
    
    font-size: 5.3rem;
   
}
.scroll-downs {
    
    margin-top: 4%;
  }
.freebies1 img {

     height:auto; 
}
.download_pdf {
   
    font-size: 2.25rem;
}
}
@media (max-width: 768px){
    /*========apple menu==========*/



 .header {
/*  position: absolute;*/
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  overflow: hidden;
  -webkit-transition: all 0.5s ease-out, background 1s ease-out;
  transition: all 0.5s ease-out, background 1s ease-out;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  z-index: 9999;
}
 .header .burger-container {
  position: relative;
  display: inline-block;
  height: 50px;
  width: 50px;
  cursor: pointer;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
}
 .header .burger-container #burger {
  width: 18px;
  height: 8px;
  position: relative;
  display: block;
  margin: -4px auto 0;
  top: 50%;
}
 .header .burger-container #burger .bar {
  width: 100%;
  height: 1px;
  display: block;
  position: relative;
  background: #FFF;
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
 .header .burger-container #burger .bar.topBar {
  -webkit-transform: translateY(0px) rotate(0deg);
          transform: translateY(0px) rotate(0deg);
}
 .header .burger-container #burger .bar.btmBar {
  -webkit-transform: translateY(6px) rotate(0deg);
          transform: translateY(6px) rotate(0deg);
}
 .header .icon {
  display: inline-block;
  position: absolute;
  height: 100%;
  line-height: 50px;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #FFF;
  font-size: 22px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
 .header .icon.icon-bag {
  right: 0;
  top: 0;
  left: auto;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  -webkit-transition-delay: 0.65s;
          transition-delay: 0.65s;
}
 .header ul.menu {
  position: relative;
  display: block;
  padding: 0px 48px 0;
  list-style: none;
      margin-top: 20%;
}
 .header ul.menu li.menu-item {
  /*border-bottom: 1px solid #333;
  margin-top: 5px;*/
  -webkit-transform: scale(1.15) translateY(-30px);
          transform: scale(1.15) translateY(-30px);
  opacity: 0;
  -webkit-transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
}
 .header ul.menu li.menu-item:nth-child(1) {
  -webkit-transition-delay: 0.49s;
          transition-delay: 0.49s;
}
 .header ul.menu li.menu-item:nth-child(2) {
  -webkit-transition-delay: 0.42s;
          transition-delay: 0.42s;
}
 .header ul.menu li.menu-item:nth-child(3) {
  -webkit-transition-delay: 0.35s;
          transition-delay: 0.35s;
}
 .header ul.menu li.menu-item:nth-child(4) {
  -webkit-transition-delay: 0.28s;
          transition-delay: 0.28s;
}
 .header ul.menu li.menu-item:nth-child(5) {
  -webkit-transition-delay: 0.21s;
          transition-delay: 0.21s;
}

 .header ul.menu li.menu-item a {
  display: block;
  position: relative;
  color: #FFF;
  font-family: "Ek Mukta", sans-serif;
  font-weight: 100;
  text-decoration: none;
  font-size: 22px;
  line-height: 2.35;
  font-weight: 200;
  width: 100%;
}
.header.menu-opened {
  height: 100%;
  background-color: rgba(11, 46, 72, 0.95);
  -webkit-transition: all 0.3s ease-in, background 0.5s ease-in;
  transition: all 0.3s ease-in, background 0.5s ease-in;
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}
 .header.menu-opened .burger-container {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
 .header.menu-opened .burger-container #burger .bar {
  -webkit-transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
 .header.menu-opened .burger-container #burger .bar.topBar {
  -webkit-transform: translateY(4px) rotate(45deg);
          transform: translateY(4px) rotate(45deg);
}
 .header.menu-opened .burger-container #burger .bar.btmBar {
  -webkit-transform: translateY(3px) rotate(-45deg);
          transform: translateY(3px) rotate(-45deg);
}
 .header.menu-opened ul.menu li.menu-item {
  -webkit-transform: scale(1) translateY(0px);
          transform: scale(1) translateY(0px);
  opacity: 1;
}
 .header.menu-opened ul.menu li.menu-item:nth-child(1) {
  -webkit-transition-delay: 0.27s;
          transition-delay: 0.27s;
}
 .header.menu-opened ul.menu li.menu-item:nth-child(2) {
  -webkit-transition-delay: 0.34s;
          transition-delay: 0.34s;
}
 .header.menu-opened ul.menu li.menu-item:nth-child(3) {
  -webkit-transition-delay: 0.41s;
          transition-delay: 0.41s;
}
 .header.menu-opened ul.menu li.menu-item:nth-child(4) {
  -webkit-transition-delay: 0.48s;
          transition-delay: 0.48s;
}
 .header.menu-opened ul.menu li.menu-item:nth-child(5) {
  -webkit-transition-delay: 0.55s;
          transition-delay: 0.55s;
}
 .header.menu-opened ul.menu li.menu-item:nth-child(6) {
  -webkit-transition-delay: 0.62s;
          transition-delay: 0.62s;
}
 .header.menu-opened ul.menu li.menu-item:nth-child(7) {
  -webkit-transition-delay: 0.69s;
          transition-delay: 0.69s;
}
 .header.menu-opened .icon.icon-bag {
  -webkit-transform: translateX(75px);
          transform: translateX(75px);
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
 .content {

  padding: 67px 4% 0;
  text-align: justify;
  overflow: scroll;
  max-height: 100%;
}
 .content::-webkit-scrollbar {
  display: none;
}
 .content h2 {
  margin-bottom: 0px;
  letter-spacing: 1px;
}
 .content img {
  width: 95%;
  position: relative;
  display: block;
  margin: 75px auto 75px;
}
 .content img:nth-of-type(2) {
  margin: 75px auto;
}
.overlay_list {
    margin-bottom: 0px;

}

.overlay ul {
 

  width:auto;
  text-align: none;
}
}
